body
{
    font-family: sans-serif;
}

.textinput,
button
{
    overflow: hidden;
    font-family: sans-serif;
    box-sizing: border-box;

    border: 1px solid #eee;
    border-radius: 15px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px;
}

#messageinput,
#sendbutton
{
    width: 100%;
}

#messageinput
{
    background-color: #fff;
}

button
{
    background-color: #eee;
}

.sendername a:link,
.sendername a:visited,
.editlink a:link,
.editlink a:visited
{
    text-decoration: none;
    color: black;
}

.sendername a:link .myself,
.sendername a:visited .myself,
.editlink a:link .myself,
.editlink a:visited .myself
{
    color: blue;
}

.icon,
.smiley
{
    max-height: 4em;
}

.spoiler
{
    background-color: black;
    color: black;
}

.jsclick
{
    cursor: pointer;
}
